@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: Georgia, 'Times New Roman', serif;
  overflow-x: hidden;
}